/*!
 * Обновление виджета (Update).
 *
 * Расширение "Менеджер виджетов".
 * Модуль "Маркетплейс"
 *
 * Copyright 2015 RosGear
 * Copyright Anton Tivonenko <anton.tivonenko@gmail.com>
 * https://rosgear.ru/license/
 */

/* Заливка заднего фона сетки (см. идент. viewManager) */
.rg-mp-wmanager-update .x-panel-body { 
    background: #f5f5f5; }


/**
 * Шаги обновления виджета.
 */
.rg-mp-wmanager-update__steps { 
    padding: 10px 20px 10px 20px; }

.rg-mp-wmanager-update__step {
    font-size: 14px;
    margin-bottom: 5px;
    color: #c7c7c7; }

.rg-mp-wmanager-update__step i {
    font-size: 20px;
    color: #c7c7c7;
    margin-right: 3px; }

.rg-mp-wmanager-update__step.active { 
    color: #333; }

    .rg-mp-wmanager-update__step.active i { 
        color: #217346; }


/**
 * Предупреждение.
 */
.rg-mp-wmanager-update__notice { 
    color: #e78155; padding: 10px; }